@charset="utf-8";
* {
    margin: 0; padding: 0; text-decoration: none; list-style: none;
    color: black;
}
body {
    width: 100%;
}
/*body*/
section {
    width: 1900px; margin: 0 auto;
}
section > header {
    width: 100%; height: 350px; position: relative;
}
section > header > img {
    width: 100%; height: auto; margin-top: -10%;
}
section > header > h1 {
    width: 300px; height: 50px; font-size: 40px; position: absolute;
    left: 250px; top: 50%; margin-top: -25px;
    padding-left: 20px; line-height: 50px; color: white;
    font-weight: 700; border-left: 10px solid white;
}
header > h3 {
    width: auto; font-size: 25px; position: absolute;
    left: 250px; top: 50%; margin-top: 35px; color: white;
}
#contents {
    width: 1400px; height: 800px;
    margin: 0 auto; padding-top: 50px; padding-bottom: 50px;
}
.event_content {
    width: 100%; height: 240px;
}
.sub_content {
    width: 50%; height: 100%;
    float: left; position: relative; margin-bottom: 30px;
}
.sub_content > #event_img {
    width: 300px; height: 200px; overflow: hidden; padding-top: 20px;
    float: left;
}
#event_img > img {
    width: 100%; height: auto; object-fit: cover;
    position: relative;
}
.sub_content > h2 {
    width: 300px;
    padding-left: 20px; margin-top: 50px;
    float: left; font-size: 20px;
}
.sub_content > h4 {
    padding-left: 20px; margin-top: 20px;
    float: left;
}
.sub_content > button {
    width: 200px; height: 50px; float: left;
    position: absolute; bottom: 20px; left: 320px;
    border-radius: 50px; border: none; cursor: pointer;
    font-size: 20px; background-color: #f8d1db; 
}
/*popup*/
#popup {
    width: 100%; height: 100%; background-color: rgba(0,0,0,0.5);
    transition: 0.5s; position: fixed; left: 0; top: 0; z-index: 50;
    display: none;
}
#popup_close {
    width: 100%; height: 100%; position: fixed;
}
#popup_main {
    width: 500px; height: 700px; position: absolute;
    left: 50%; top: 50%; margin-left: -250px; margin-top: -400px; position: relative;
    background-repeat: no-repeat; background-size: cover;
}
#popup_main img {
    width: 100%; height: auto; cursor: pointer;
}
#admin_event {
    width: 200px; height: 50px; margin: 0 auto; margin-top: 20px; 
}
#admin_event > button {
    width: 100%; height: 100%; border-radius: 50px; border: none;
    background-color: #f8d1db; cursor: pointer; font-size: 20px;
}

#admin_popup {
    width: 100%; height: 100%; background-color: rgba(0,0,0,0.5);
    position: fixed; z-index: 50; left: 0; top: 0; display: none;
}
#admin_close {
    width: 100%; height: 100%; position: fixed;
}
#admin_main {
    width: 500px; height: 400px; background-color: white; position: absolute;
    left: 50%; top: 50%; margin-left: -250px; margin-top: -200px;
}
#admin_main > h1 {
    width: 100%; text-align: center; height: 50px; line-height: 50px;
}
#admin_table {
    width: 400px; height: 300px;font-size: 20px;
    margin: 0 auto; margin-top: 20px;
}
#admin_table tr > td:nth-child(2n-1) {
    width: 150px; text-align: right;
    padding-right: 30px;
}
#admin_table tr > td:nth-child(2n) {
    width: 200px;
}
#admin_table tr {
    height: 20px;
}
#admin_table input[type="text"] {
    width: 250px; height: 40px; font-size: 20px;
}
#admin_table input[type="button"] {
    width: 100%; height: 40px; margin: 0 auto;
    border: none; background-color: #f8d1db; 
    border-radius: 40px; font-size: 20px; cursor: pointer;
}
