@charset="utf-8";
@font-face {
    font-family : '나눔스퀘어라운드';
    src: url('font/NanumSquareRoundR.ttf') format('truetype');
}
* {
    margin: 0; padding: 0; outline: none;  font-family: '나눔스퀘어라운드';
}
body {
    width: 100%; height: 100%; min-width: 1600px;
}
/*nav*/
nav {
    width: 1900px; height: 70px; margin: 0 auto;
    position: fixed; z-index: 100;
    left: 50%; margin-left: -950px;
}
nav > #opacity {
    width: 100%; height: 100%; background-color: #ffffff;
    position: absolute; left: 0; top: 0; opacity: 0; z-index: -1; transition: 0.2s;
    box-shadow: 1px 2px 3px 1px #666666;
}
#logo {
    width: 120px; height: 55px; margin-left: 20px; margin-top: 7.5px; float: left;
}
#logo > a > img { 
    width: 100%; height: 100%;
}
#nav_search {
    width: 600px; height: 40px; position: relative;
    float: left; margin-top: 15px; margin-left: 15px;
    background-color: #fff; border-radius: 40px;
}
#nav_search > form > img {
    width: 30px; height: 30px; float: left;
    margin-left: 20px; margin-top: 5px;
}
#nav_search > form > #search_text {
    width: 500px; height: 40px; float: left;
    font-size: 20px; border: none; background-color: transparent;
    margin-left: 20px;
}
#n_menu {
    width: 400px; height: 100%; float: right;
    line-height: 70px; text-align: center;
}
#n_menu > li {
    width: 120px; height: 100%; float: left;
}
#n_menu img {
    width: auto; height: 70%; margin-top: 10px;
}
#n_menu a {
    color: white;
}
#n_menu > li:nth-child(n+3) {
    width: 80px;
}
#n_menu > li:nth-child(n+3) > img {
    cursor: pointer; 
}
#n_menu > li:nth-child(3) > img {
    width: 40px; height: auto; margin-top: 15px;
}
/*Login_check&nav_popup*/
.nav_pop {
    width: 100%; height: 100%; background-color: rgba(0,0,0,0.5);    
    position: fixed; z-index: 100; display: none;
}
.nav_popup {
    width: 300px; height: 180px; background-color: white;
    left: 50%; top: 50%; position: absolute; border-radius: 5px;
    margin-left: -150px; margin-top: -100px; display: none;
}
.nav_popup > h2 {
    width: inherit; height: 100px; text-align: center;
    line-height: 40px; margin-top: 20px;
}
.nav_popup > button {
    width: 100px; height: 40px; border: none;
    margin-left: 100px; border-radius: 5px;
    transition: 0.5s; cursor: pointer;
}
.nav_popup > button:hover {
    background-color: #A6804D; color: white;
}
/*Login*/
#login {
    width: 100%; height: 100%; background-color: rgba(0,0,0,0.5);
    position: fixed; z-index: 99; overflow: hidden; transition: 0.5s;
    opacity: 0; float: right; display: none;
}
#login > #login_close {
    width: 70%; height: 100%; float: left;
}
#login > #login_main {
    width: 30%; height: 100%; 
    float: right; text-align: center; transition: 0.3s;
    transform: translateX(700px); background-color: #efcaca;
}
#login_main > a > img {
    width: 120px; float: right;
    margin-top: 30px; margin-right: 40px;
}
#login_main2 {
    width: 400px; height: 240px; margin: 0 auto;
    margin-top: 250px; background-color: #efcaca; padding-top: 25px;
    border-radius: 5px; box-shadow: 0px 3px white;
}
#login_con {
    width: 400px; height: 50px; margin: 0 auto;
}
#login_con > .login_con {
    width: 170px; height: 50px; background-color: #aaaaaa; float: left;
    border-radius: 5px; color: white; font-size: 25px; line-height: 50px;
    cursor: pointer; box-shadow: 0px 3px gray; margin-top: -3px;
}
#login_con > .login_con:nth-child(1) {
    margin-right: 10px;
}
#login_con > .login_con > img {
    width: auto; height: 30px; margin-left: 10px;
    float: left; margin-top: 10px;
}
#login_main2 > h3 {
    width: 40px; height: 60px; margin: 0 auto; z-index: 10;
    margin-bottom: -30px; background-color: #ffffff;
    position: relative; line-height: 60px;
}
#login_main2 > h1{
    width: 350px; height: 20px;
    margin: 0 auto; line-height: 50px; border-top: 1px solid gray;
}
#login_main2 > form > .login_text {
    width: 350px; height: 50px; border: none; background-color: #eeeeee;
    margin: 0 auto; margin-top: 11px; border-radius: 5px; padding-top: 10px;
}
.login_text > img {
    width: 40px; float: left; margin-left: 10px;
}
.login_text > input {
    width: 280px; height: 40px; float: right; font-size: 20px; color: black;
    border: none; background-color: transparent;
}
#login_main2 > form > .login_button {
    width: 350px; height: 50px; border-radius: 5px;
    border: none; background-color: #eeeeee; color: black;
    margin-top: 20px; font-size: 25px; cursor: pointer;
    box-shadow: 0px 3px gray;
}
.login_search {
    width: auto; height: 15px; border: none; background-color: transparent;
    border-right: 1px solid white; padding: 0 5px; cursor: pointer;
    color: white; font-weight: 1000;
}
#login_main2 > form > .login_button2 {
    width: auto; height: 20px; border: none; background-color: transparent;
    margin-top: 40px; padding-left: 5px; cursor: pointer; color: white;
    font-weight: 1000;
}
#login_main2 > img , #loging_main > img{
    width: 70px; position: absolute; margin-left: -250px; margin-top: 100px;
    cursor: pointer;
}
/*logging*/
#loging_main {
    width: 100%; height: 35%; background-color: #FDECEE;
}
#login_profile {
    width: 30%; height: 50%; background-color: #f8d1db;
    border-radius: 100%; margin: 0 auto; margin-top: 5%;
    position: relative; margin-bottom: 20px;
    background-image: url('../../images/Submit_images/icon/camera.png');
    background-repeat: no-repeat; background-position: center; background-size: cover;
}
#loging_main > #loging_h1 {
    width: 300px; height: 40px; border-bottom: 1px solid black;
    margin: 0 auto; line-height: 30px; margin-top: 0;
    padding-top: 30px; font-size: 30px;
}
#loging_h2 {
    width: 100%; height: 40px; background-color: #F8D1DB;
    font-size: 25px; line-height: 40px;
}
#loging_pick {
    width: 100%; height: 55%; position: relative;
}
#loging_pick > #loging_favorite {
    width: 100%; height: 100%;
    margin: 0 auto; overflow-y: scroll;
}
.loging_cafe_c {
    width: 100%; height: 90px; float: left;
    margin-top: 20px; border-bottom: 0.25px solid gray;
    padding-bottom: 20px; position: relative;
}
.loging_cafe_c > a > .loging_cafe {
    width: 90px; height: 90px; float: left; 
    margin-left: 20px; margin-right: 10px;
    background-repeat: no-repeat; background-size: cover;
}
#loging_favorite > .loging_cafe_c > a > h3{
    height: 20px; line-height: 20px;
    text-align: left; padding-left: 10px; margin-top: 20px;
}
.loging_cafe_c > h4 {
    height: 50px;
    text-align: left;
    padding-top: 10px;
}
.loging_cafe_c > img {
    width: 30px; height: auto; position: absolute;
    right: 20px; bottom: 40px; cursor: pointer;
    opacity: 0.5;
}
#loging_pick > #loging_button {
    width: 360px; height: 50px; position: absolute;
    left: 45%; top: 100%; padding-top: 10px;
}
#loging_button > a > .loging_button {
    width: 47%; height: 100%; font-size: 20px; line-height: 40px;
    float: left; 
    text-align: left; cursor: pointer;
}
.loging_button > img {
    width: 30px; height: auto; float: left; margin-top: 5px;
}
/*user_revise*/
#user_revise {
    width: 100%; height: 100%; background-color: rgba(0,0,0,0.5);
    position: fixed; z-index: 100; display: none;
}
#user_revise > img {
    width: 50px; height: 50px; position: absolute;
    margin-left: 1220px; margin-top: 115px; cursor: pointer;
}
#user_revise_main {
    width: 500px; height: 750px; background-color: white;
    position: absolute; left: 50%; top: 50%;
    margin-left: -250px; margin-top: -375px;
}
#user_revise_main > h1 {
    width: 100%; height: 50px; background-color: #2C2111;
    color: white; text-align: center; line-height: 50px;
    font-size: 25px;
}
#user_revise_profile {
    width: 100%; height: 150px; background-color: #EFE0CE;
    position: relative;
}
#user_profile {
    width: 120px; height: 120px; background-color: #f8d1db;
    left: 50%; top: 50%; margin-left: -60px; margin-top: -60px;
    border-radius: 100%; position: absolute;
    background-repeat: no-repeat; background-position: center;
    background-size: cover;
}
#user_profile > #user_camera {
    width: 50px; height: 50px; background-color: white;
    position: inherit; border-radius: 100%;
    left: 50%; top: 50%; margin-left: 30px; margin-top: -60px;
    background-image: url('../../images/Submit_images/icon/camera.png');
    background-repeat: no-repeat; background-position: center;
    background-size: cover; cursor: pointer;
}
#user_camera > input {
    width: 100%; height: 100%; position: absolute;
    opacity: 0; display: none;
}
#user_revise_content {
    width: 350px; height: 500px;margin: 0 auto;
}
#user_revise_content > h2{
    margin-top: 50px; margin-bottom: 20px;
}
.user_content {
    width: 100%; height: 60px; margin-top: 10px; margin-bottom: 10px;
}
.user_content > h2 {
    height: 30px; line-height: 30px; font-size: 20px;
}
.user_content > input {
    width: 100%; height: 30px; background-color: transparent;
    border: none; font-size: 20px; border-bottom: 1px solid black;
}
#user_button {
    width: 100%; height: 50px; margin-top: 30px;
}
#user_button > input {
    width: 100%; height: 50px; border-radius: 50px; background-color: #aaaaaa; border: none; color: white; font-size: 25px;
    cursor: pointer; transition: 0.5s;
}
#user_button > input:hover {
    background-color: #EFCACA;
}
/*login_search*/
#login_search {
    width: 100%; height: 100%; position: fixed;
    background-color: rgba(0,0,0,0.2); z-index: 100;
    display: none;
}
#login_search > #id_search {
    width: 500px; height: 530px; background-color: white;
    position: absolute; left: 50%; top: 50%;
    margin-left: -250px; margin-top: -250px;
    border-radius: 10px; display: none;
}
#id_search > h1 {
    width: 100%; text-align: center; position: relative;
    top: 0; background-color: #2C2111; color: white;
    font-size: 25px; padding-top: 10px; padding-bottom: 10px;
    font-weight: 500;
}
#search_change {
    width: 450px; margin: 0 auto;
    margin-top: 50px; position: relative;
}
#search_change > h2 {
    display: inline-block; text-align: center;
    border-bottom: 5px solid #999999; width: 220px;
    padding-bottom: 5px; color: #999999; font-weight: 500;
    cursor: pointer;
}
#search_change > #change_id {
    color: #2C2111; border-bottom: 5px solid #2C2111;
}
.search_after {
    width: 360px; height: 200px;
    padding-top: 30px; position: absolute;
    left: 50%; margin-left: -180px;
    
}
.search_after > p {
    padding-bottom: 30px;
}
.search_after > .search_div {
    width: 360px; height: 90px;
    margin: 0 auto;
}
.search_div > h3 {
    height: 30px; line-height: 30px;
}
.search_after > .search_div > .search_text {
    width: 360px; height: 35px; border: none;
    font-size: 25px; border-bottom: 0.25px solid gray;
}
.search_after > .search_button {
    width: 150px; height: 50px; float: left; margin-left: 20px;
    border: none; border-radius: 5px; font-size: 20px;
    transition: 0.5s; cursor: pointer; margin-top: 10px;
} 
.search_after > .search_button:hover {
    background-color: #EFCACA;
}
#pw_after {
    display: none;
}
/*submit*/
#submit {
    width: 100%; height: 100%; background-color: rgba(0,0,0,0.5);
    position: fixed; z-index: 101; overflow: hidden; transition: 0.5s;
    display: none;
}
#sub_close {
    width: 40px; height: 40px; position: absolute;
    left: 66.5%; top: 12%; cursor: pointer;
}
#submit > #submit_main {
    width: 550px; height: 740px; background-color: white;
    position: absolute;
    top: 50%; margin-top: -370px; left: 50%; margin-left: -275px;
}
#submit_header {
    width: 100%; height: 250px; overflow: hidden; position: relative;
}
#submit_header > img:nth-child(1) {
    width: 100%; margin-top: -60%;
}
#submit_header > a > #sub_logo {
    width: 35%; position: absolute; left: 0; top: 0;
    margin-left: 30%; margin-top: 13%;
}
#submit_body {
    width: 550px; height: 450px; position: relative;
}
#submit_img {
    width: 120px; height: 120px; background-color: #f8d1db;
    left: 50%; top: 0%; margin-left: -60px; margin-top: -60px;
    border-radius: 100%; position: absolute;
    background-repeat: no-repeat; background-position: center;
    background-size: cover;
}
#submit_camera {
    width: 50px; height: 50px; background-color: white;
    position: inherit; border-radius: 100%;
    left: 50%; top: 50%; margin-left: 30px; margin-top: -60px;
    background-image: url('../../images/Submit_images/icon/camera.png');
    background-repeat: no-repeat; background-position: center;
    background-size: cover; cursor: pointer;
}
.sub_img {
    width: 100%; height: 100%; position: absolute;
    opacity: 0; display: none;
}
#submit_body > form {
    width: 550px; height: 550px;
}
#submit_body table {
    width: 350px; height: 300px; text-align: center;
    position: absolute; left: 50%; top: 50%;
    margin-left: -195px; margin-top: -160px;
}
#submit_body table tr {
    height: 50px;
}
#submit_body td > img {
    width: 50%;
}
#submit_body td:nth-child(1) {
    width: 50px;
}
.sub_text {
    width: 100%; height: 30px;
    border: none; background-color: transparent;
    border-bottom: 1px solid black;
    font-size: 20px; margin-bottom: 10px;
    margin-top: 10px;
}
#submit_body table td > p {
    text-align: left; font-size: 12px; margin-top: -5px;
}
#submit_body tr:last-child > td {
    width: 200px;
}
#submit_body tr:last-child > td > input {
    width: 90%; height: 50px; float: right;
    border: none; background-color: #aaaaaa; margin-top: 20px;
    border-radius: 50px; font-size: 20px; cursor: pointer;
    transition: 0.5s;
}
#submit_body tr:last-child > td > input:hover {
    background-color: #EFCACA;
}
/*lang_change*/
#lang_change {
    width: 150px; height: 70px; background-color: #ffffff;
    position: fixed; right: 0; top: 7%; z-index: 100;
    text-align: left; padding-top: 10px;
    display: none;
}
#google_translate_element{
    width: 90%; height: auto; margin: 0 auto;
}